.rivalTable_board___td {
  height: 52px;
  width: 52px;
  border: 2px solid #472b10;
  text-align: center;
  color: #472b10;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(245, 219, 181);
}
